:root {
    --primary: #323232;
    --secondary: #DDD0C8;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    min-height: 3230px;
    background-color: rgb(229, 230, 238);
}

body::before {
    content: "";
    position: fixed;
    width: 250px;
    height: 120px;
    background-color: red;
    left: 20%;
    top: 20%;
    filter: blur(145px);
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    width: 250px;
    height: 120px;
    background-color: darkblue;
    left: 60%;
    top: 74%;
    filter: blur(145px);
    z-index: -1;
}

nav {
    background-color: #171717;
    /* opacity: 0.7; */
    display: flex;
    padding: 16px 128px;
    justify-content: space-between;
    max-height: 250px;
    position: fixed;
    height: 85px;
    width: 100%;
    z-index: 90;
    /* border-bottom: 1px solid rgb(204, 197, 197); */
}

nav img {
    position: relative;
    width: 100%;
    height: 70px;
    top: -8px;
    left: -65px;
}

.tab-link {
    position: relative;
    display: flex;
    align-items: center;
}

.tab-link .menu {
    text-decoration: none;    
    position: relative;
    margin-left: 27px;
    color: white;
}

.tab-link p {
    text-decoration: none;   
    position: relative;
    margin-left: 29px;
    color: white;
    top: 9px;
}

.tab-link i {
    left: 36px;
    font-size: 28px;
    top: 3px;
    z-index: 10;
    position: relative;
    transition: scale 0.1s ease-in-out;
}

.tab-link i:hover {
    scale: 1.2;
}

.tab-link .dark-light-mode {
    position: relative;
    left: 70px;
    top: -0.5px;
}

.tab-link .menu:hover {
    color: red;
    border-bottom: 1px solid red;
    transition: ease-in 0.2s;
    transform: translateY(-3px);
}

#home {
    min-height: 100vh;
    background-color: black;
}

#home .home-img {
    display: flex;
    background-image: url("img/nevtik-home-2.jpeg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 18%;
    background-attachment: fixed;
}

#home .home-text h5 {
    z-index: 40;
    position: absolute;
    top: 45%;
    font-size: 90px;
    margin-left: 38%;
    color: white;
    font-weight: bold;
}

#about {
    min-height: 100vh;
    font-size: 28px;
    column-gap: 16px;
    justify-content: space-between;
    display: flex;
}

#about > div {
    width: 50%;
}

#about div img {
    width: 340px;
    height: 340px;
    top: 26%;
    position: relative;
    left: 22%;
}


#about .about-text {
    text-align: center;
    right: 70px;
    position: relative;
    top: 50px;
}

#about .about-text h1 {
    text-align: center;
    top: 100px;
    position: relative;
    font-weight: bold;
}

#about .about-text .nevtik-nevtik {
    margin-top: 130px;
    font-size: 28px;
    position: relative;
    color: red;
    text-align: left;
}

#about .about-text .paragraph {
    margin-top: 50px;
    font-size: 24px;
    position: relative;
    text-align: left;
}

#service {
    min-height: 100vh;
}

#service .service-title {
    text-align: center;
    font-size: 44px;
    position: relative;
    top: 125px;
    font-weight: bold;
}

#service .card-queue {
    display: flex;
    position: relative;
    margin: 0 10px;
    justify-content: space-between;
}

#service .service-card {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    top: 200px;
    cursor: pointer;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
}

#service .card-title {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 18px;
    font-size: 18px;
}

#service .service-card img {
    width: 245px;
    height: 140px;
    transition: transform 0.6s;
    object-fit: cover;
    border-radius: 10px;
}

#service .service-card button {
    position: relative;
    margin-top: 20px;
}

#service .service-card img:hover {
    transform: scale(1.12);
}
/* Card end */

#contact {
    min-height: 115vh;
}

#contact h1 {
    margin-left: 70px;
    position: relative;
    font-weight: bold;
    top: 130px;
    font-size: 44px;
}

#contact p {
    position: relative;
    margin-left: 70px;
    margin-top: 17px;
    top: 130px;
    font-size: 24px;
}

#contact .contact-container {
    display: flex;
    position: relative;
    top: 160px;
    margin-left: 40px;
}

#contact form {
    position: relative;
    left: 70px;
    top: 40px;
}

#contact form .contact-tell {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}

#contact .form-group {
    position: relative;
    margin-bottom: 25px;
}

#contact .form-group label {
    display: block;
}

#contact .form-group input {
    width: 430px;
    border: none;
    height: 35px;
    background: none;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(10, 10, 63);
}

#contact .form-group input:focus {
    /* border-bottom: 3px solid rgb(10, 10, 63); */
    border: none;
    outline: none;
    text-decoration: underline;
}

#contact form button {
    background-color: rgb(10, 10, 63);
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
}

#contact .contact-container .contact-visit {
    display: flex;
    position: relative;
    left: 29%;
    top: 33px;
}

#contact .contact-container .school-address {
    display: flex;
    position: relative;
    top: 120px;
    left: 15px;
}

#bf-footer {
    height: 63vh;
    background-color: rgb(25, 24, 24);
    position: relative;
    margin-top: 160px;
    display: flex;
}

#bf-footer .ft-text {
    position: relative;
    top: 55px;
    color: rgb(226 232 240);
    left: 60px;
}

#bf-footer .ft-text h3 {
    font-size: 26px;
    position: relative;
    margin-bottom: 13px;

}

#bf-footer .ft-text .ft-btn {
    padding: 5px 16px;
    border-radius: 5px;
}

#bf-footer .ft-link {
    display: flex;
}

#bf-footer .ft-link .ft-about {
    position: relative;
    margin-top: 62px;
    margin-left: 200px;
}

#bf-footer .ft-link .ft-about h4 {
    color: rgb(226 232 240);
    font-weight: 600;
    margin-bottom: 15px;
}

#bf-footer .ft-link .ft-about a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 14px;
}

#bf-footer .ft-link .ft-about a:hover {
    color: rgb(70, 68, 240);
    transition: ease-in-out 0.3s;
}

#bf-footer .ft-link .ft-qlink {
    position: relative;
    margin-left: 200px;
    margin-top: 62px;
}

#bf-footer .ft-link .ft-qlink h4 {
    color: rgb(226 232 240);
    font-weight: 600;
    margin-bottom: 15px;
}

#bf-footer .ft-link .ft-qlink a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 14px;
}

#bf-footer .ft-link .ft-qlink a:hover {
    color: rgb(70, 68, 240);
    transition: ease-in-out 0.3s;
}

#bf-footer .ft-link .ft-info h4 {
    position: relative;
    margin-left: 160px;
    color: rgb(226 232 240);
    margin-top: 62px;
    font-weight: 600;
}

#bf-footer .ft-link .ft-info {
    display: flex;
    margin-left: 110px;
    margin-top: 3px;
    position: relative;
}


#bf-footer .ft-link .ft-info .loc-img {
    position: relative;
    font-size: 22px;
    margin-left: 100px;
    margin-top: 3px;
}

#bf-footer .ft-link .ft-info p {
    display: block;
    color: white;
    position: relative;
    margin-left: 10px;
    width: 190px;
}

#bf-footer .ft-link .ft-flex {
    display: flex;
    right: 280px;
    margin-top: 130px;
    position: relative;
}