:root {
    --primary: #323232;
    --secondary: #DDD0C8;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    min-height: 3000px;
    background-color: rgb(229, 230, 238);
}

body::before {
    content: "";
    position: fixed;
    width: 250px;
    height: 120px;
    background-color: red;
    left: 20%;
    top: 20%;
    filter: blur(145px);
}

body::after {
    content: "";
    position: fixed;
    width: 250px;
    height: 120px;
    background-color: darkblue;
    left: 60%;
    top: 74%;
    filter: blur(145px);
}

nav {
    background-color: #171717;
    /* opacity: 0.7; */
    display: flex;
    padding: 16px 128px;
    justify-content: space-between;
    max-height: 250px;
    position: fixed;
    height: 85px;
    width: 100%;
    z-index: 90;
    /* border-bottom: 1px solid rgb(204, 197, 197); */
}

nav img {
    position: relative;
    width: 70px;
    height: 70px;
    top: -8px;
    left: -65px;
}

.tab-link {
    position: relative;
    display: flex;
    align-items: center;
}

.tab-link .menu,
.tab-link p {
    text-decoration: none;
    color: var(--primary);    
    position: relative;
    margin-left: 27px;
    color: white;
}

.tab-link i {
    left: 36px;
    font-size: 28px;
    top: 3px;
    z-index: 10;
    position: relative;
    transition: scale 0.1s ease-in-out;
}

.tab-link i:hover {
    scale: 1.2;
}

.tab-link .dark-light-mode {
    position: relative;
    left: 70px;
    top: -0.5px;
}

.tab-link .menu:hover {
    color: red;
    border-bottom: 1px solid red;
    transition: ease-in 0.2s;
    transform: translateY(-3px);
}

#home {
    min-height: 100vh;
    background-color: black;
}

#home .home-img {
    display: flex;
    background-image: url("img/nevtik-home-2.jpeg");
    width: 1343px;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 30%;
}

#home .home-text {
    z-index: 10;
    position: absolute;
    top: 45%;
    font-size: 90px;
    margin-left: 40%;
    color: white;
}

#about {
    min-height: 100vh;
    font-size: 28px;
    column-gap: 16px;
    justify-content: space-between;
    display: flex;
}

#about > div {
    width: 50%;
}

#about div img {
    width: 340px;
    height: 340px;
    top: 26%;
    position: relative;
    left: 22%;
}


#about .about-text {
    text-align: center;
    right: 70px;
    position: relative;
    top: 50px;
}

#about .about-text h1 {
    text-align: center;
    top: 100px;
    position: relative;
}

#about .about-text .nevtik-nevtik {
    margin-top: 130px;
    font-size: 28px;
    position: relative;
    color: red;
    text-align: left;
}

#about .about-text .paragraph {
    margin-top: 50px;
    font-size: 24px;
    position: relative;
    text-align: left;
}

#service {
    min-height: 100vh;
}

#service .service-title {
    text-align: center;
    font-size: 44px;
    position: relative;
    top: 125px;
}

/* Card */
#summary h2, h3, h4 {
    margin: 0;
    font-weight: 500;
}

#summary article {
    position: relative;
    perspective: 1000px;
    width: 300px;
    height: 300px;
}

#summary article header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 26px;
}

#summary article .front {
    position: relative;
    text-align: center;
    /* backface-visibility: hidden; */
    background: #ffff;
    border-radius: 10px rgba(0, 0, 0, 0.1) 0px 1px 3px 0px rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    padding: 24px;
    /* transition: 0.6s; */
    cursor: pointer;
    top: 50%;
    
}

#summary .front img {
    width: 245px;
    height: 150px;
    transition: transform 400ms;
    object-fit: cover;
    inset: 0;
}

#summary .front img:hover {
    transform: scale(1.05);
}

/* Card end */

